# Ignore everything in the project directory
/project/*

# But keep these specific files
!/project/build.properties
!/project/plugins.sbt

# Keep the directory structure, but still ignore all files inside it
!/project/project/
!/project/project/build.properties
!/project/project/plugins.sbt

# Ignore these specific files within the project directory
/project/metals.sbt
/project/project/metals.sbt

# Ignore Scala build directory
.scala-build/


# Ignore target directories
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE specific files
.idea/
.vscode/

# Mac OS specific files
.DS_Store

# Ignore bsp directory
.bsp/

# Ignore Spark-related files
**/metastore_db
**/derby.log

# Ignore Turbine log files
**/turbine.log

# Metals VSCode plugin directories and files
.metals/
.bloop/
*.semanticdb
metals.sbt
metals.lock.db
metals.log
metals.mv.db

